<h2> Olá {{ name }}, </h2>
<p>
  Parece que você solicitou a recuperação da sua senha, caso queira prosseguir clique o link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor desconsiderar este e-mail.
</p>
<p>
  <strong>Equipe Unimed Varginha</strong>
</p>
